@model Dialogistic.Models.UserProfile

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<!-- Main content -->
<section class="the-content">
    <div class="row">
        <div class="col-md-12">
            <h2>Overview</h2>
            <p>
               Dialogisitic is a web application inspired by Western Oregon University's <i>The Cottage</i>. 
               It helps facilitate non-profits call donors to see if they are willing to donate to the University or organization.
               This project is designed for CS 460-462, as part of Western Oregon University's Senior Capstone.
            </p>
            <br />
            <h3>Developers</h3>
            <p>
                <ol>
                    <li>
                        <a href="https://www.youtube.com/watch?v=O3_5ZEzGens">Brock Vance</a>
                    </li>
                    <ul>
                        <li><a href="https://github.com/brockv">GitHub</a></li>
                    </ul>
                    <li>
                        <a href="http://suicidepreventionlifeline.org/">Dominic Groshong</a>
                    </li>
                    <ul>
                        <li><a href="https://github.com/xzonos">GitHub</a></li>
                    </ul>
                    <li>
                        <a href="https://no-one-alone.github.io/">Khorben Boyer</a>
                    </li>
                    <ul>
                        <li><a href="https://no-one-alone.github.io/">GitHub</a></li>
                    </ul>
                    <li>
                        <a href="https://www.youtube.com/watch?v=G1IbRujko-A">Stuart Ashenbrenner</a>
                    </li>
                    <ul>
                        <li><a href="https://github.com/stuartjash">GitHub</a></li>
                    </ul>
                </ol>
            </p>
            <br />
            <h3>Repository</h3>
            <p>
                All code can be <a href="https://bitbucket.org/floatnone/float-none/">viewed on our Bitbucket repository</a>.
            </p>
            <br />
            <h3>Tools</h3>
            <p>
                We have used a plethora of tools over the course of developing this software. It has ranged from developer tools to the SDLC.
                The software, tools, and other technologies used in the development of this project are as follows:
                <h5>Software</h5>
                <ul>
                    <li>Visual Studio</li>
                    <li>SQL Server</li>
                    <li>SQL Server Management Studio (SSMS)</li>
                    <li>Discord</li>
                    <li>Slack</li>
                    <li>Agile Scrum SLDC</li>
                </ul>
                <h5>Tools/Languages</h5>
                <ul>
                    <li>Bitbucket</li>
                    <li>C#</li>
                    <li>.NET Framework</li>
                    <li>Entity Framework</li>
                    <li>Javascript</li>
                    <li>Ajax</li>
                    <li>JQuery</li>
                    <li>Json</li>
                </ul>
                <h5>APIs</h5>
                <ul>
                    <li>Twilio</li>
                    <li>CometChat</li>
                    <li>Stripe</li>
                    <li>SendGrid</li>
                    <li>Amazon S3</li>
                    <li>Map Quest</li>
                </ul>  
            </p>
            <br />
            <h3>Final Thoughts</h3>
            <p>
                If you want to go down with the boat, <a href="https://www.youtube.com/watch?v=zmbw8OycJrE">wherever you are</a>, this is the software for you.
            </p>
            <p>
                <i>-Float: None</i>
            </p>
           
        </div>
    </div>
</section>

