
@{
    ViewBag.Title = "Error";
}
    <div class="error-page clearfix">
        <div class="col-md-6 center-block">
            <blockquote>
                “I don’t know about you, but I intend to write a strongly worded letter to the White Star Line about all of this.”
                <br/> —Jack
            </blockquote>
        </div>
    </div>

