@{
    ViewBag.Title = "User Created";
}

<h2>User account successfully created</h2>

<p>
    The user account has been created and an activation link has been sent to the provided
    e-mail address.
</p>