// Primary Colors

$cp1: #BDD9BF;
$cp2: #929084;
$cp3: #FFC857;
$cp4: #A997DF;
$cp5: #E5323B;
$cp6: #2E4052;

// General Colors
$light: #c4c4c4;
$medium: #727272;
$dark: #292929;
$even: #fcfcfc;
$odd: #f5f5f5;
$text: #666;
