// Primary Colors

$cp1: #ED6A5A;
$cp2: #463F3A;
$cp3: #9BC1BC;
$cp4: #C6DEA6;
$cp5: #717C89;

// General Colors
$light: #c4c4c4;
$medium: #727272;
$dark: #292929;
$even: #fcfcfc;
$odd: #f5f5f5;
$text: #666;