@model Dialogistic.Models.ChargeModel

<!DOCTYPE html>

<html>
<head>

    @{
        Layout = null;
    }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://js.stripe.com/v3/"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/mobile-donations.css" data-rel-css="">
</head>
<body>
    <!-- Main content -->
    <section class="the-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Please Enter Your Donation Information</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- form start -->
                        <form>

                            <label>
                                <span>Name</span>
                                <input name="cardholder-name" class="field" placeholder="Jane Doe" />
                            </label>
                            <label>
                                <span>Amount</span>
                                <input name="pledge-amount" class="field" placeholder="94110" />
                            </label>
                            <label>
                                <span>Recipient</span>
                                <input name="pledge-recipient" class="field" placeholder="General" />
                            </label>
                            <label>
                                <span>Card</span>
                                <div id="card-element" class="field"></div>
                            </label>
                            <button type="submit">Submit Donation</button>
                            <div class="outcome">
                                <div class="error"></div>
                                <div class="success">
                                    <strong>Success! Your Stripe token is <span class="token"></span></strong>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

    <script src="~/Scripts/mobile-donations.js" data-rel-js=""></script>
</body>
</html>
